<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Películas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Listado de Películas</h1>
    <a href="/movies/create" class="btn btn-primary mb-3">Crear Nueva Película</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Director</th>
            <th>Año de Estreno</th>
            <th>Género</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.id}">ID</td>
            <td th:text="${movie.title}">Título</td>
            <td th:text="${movie.director}">Director</td>
            <td th:text="${movie.releaseYear}">Año de Estreno</td>
            <td th:text="${movie.genre}">Género</td>
            <td>
                <a th:href="@{/movies/edit/{id}(id=${movie.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/movies/delete/{id}(id=${movie.id})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
